@media (max-width: 1000px) {
    .container {
        margin-top: 31%;
    }

    .tegs  li {
        padding-left: 24px;
    }
}

@media (max-width: 640px) {
    .container {

        margin-top: 38%;
    }
}

@media (max-width: 1176px) {
    .item-container {
        display: none;
    }

    .search-container {
        left: 23%;
    }

    .burger-btn {
        display: block;
    }

    .dropdown {
        display: none;
    }
}

@media (max-width: 685px) {
    .css-3d-text {
        font-size: 38px;
    }
}

@media (max-width: 940px) {
    .side-bar {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .article-container {
        width: 100%;
        margin-right: 0px;
    }

    .container-content {
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 2%;
    }

    .header {
        margin-right: 1%;
        margin-left: 1%;
    }

    .main {
        margin: 0;
    }
}

@media (max-width: 509px) {
    input {
        margin-left: 0;
        width: 250px;
    }

    .search-container{
        left: 65px;
    }
}

@media (max-width: 609px) {
    
}
