body {
    margin: 0;
    z-index: 0;
    font-family: 'Tinos', serif;
}


.css-3d-text {
    margin-left: 20px;
    font-size: 48px;
    color: #18a114;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(14, 151, 10),
        1px 1px 0 rgb(3, 140, 0),
        2px 2px 0 rgb(-7, 130, 0),
        3px 3px 0 rgb(-18, 119, 0),
        4px 4px 0 rgb(-28, 109, 0),
        5px 5px 0 rgb(-39, 98, 0),
        6px 6px 0 rgb(-49, 88, 0),
        7px 7px 0 rgb(-60, 77, 0),
        8px 8px 0 rgb(-70, 67, 0),
        9px 9px 0 rgb(-81, 56, 0),
        10px 10px 0 rgb(-91, 46, 0),
        11px 11px 0 rgb(-101, 36, 0),
        12px 12px 11px rgba(0, 0, 0, 0.83),
        12px 12px 1px rgba(0, 0, 0, 0.5),
        0px 0px 11px rgba(0, 0, 0, .2);
}

.wrapper {}

.button-container {
    display: flex;
}

.button-registation {
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: rgb(75, 129, 216);
    color: aliceblue;
}

.button-registation:hover {
    background-color: rgb(49, 49, 203);
}

.login-form {
    position: absolute;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    right: 5px;
    top: 0;
    border-radius: 10px;
}

.checkLabel {
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
}

.login-input {
    display: block;
    border-radius: 30px;
    width: 200px;
    height: 15px;
    background-color: rgb(255, 255, 255);
}

.login-button {

    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: #18a114;
    color: aliceblue;
    font-weight: bold;
}

.login-button:hover {
    background-color: rgb(51, 255, 0);
}

.checkbox-input {
    width: 20px;
}

input[type=checkbox] {
    transform: scale(1.0);
}

.checkbox-container {
    margin: 0;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    background-size: cover;
    min-height: 100vh;
    filter: blur(2px);
}

.header {
    margin-right: 8%;
    margin-left: 8%;
}

.container {
    display: flex;
    margin-top: 15%;
}

.header-line {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 50px;
    border-radius: 10px;
}



.nav-item {
    position: relative;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Tinos', serif;
    font-size: 20px;
    font-weight: 400;
}

.nav-item:hover {
    text-decoration: solid underline rgb(255, 255, 255) 2px;
    text-decoration-skip-ink: none;
}

.item-container {
    display: inline-block;
    margin-top: 15px;
    margin-left: 100px;
}

.search-container {
    display: flex;
    position: absolute;
    right: 50px;
}

form {
    color: aliceblue;
    margin-top: 8px;
}

input {
    margin-left: 5px;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.img-search {
    margin-top: 15px;
}

.img-house {
    margin-top: 10px;
    margin-left: 15px;
}




.nav {
    display: flex;
    position: relative;

}

.btn {
    display: none;
    font-size: 20px;
}

.container-content {
    display: flex;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 2%;

}

.main {}

.title-new-articles2 {
    margin-top: -90px;
}



.main-content {
    display: flex;
    flex-direction: column;
    width: 76%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #b2b2b2;
    padding: 20px;
    margin-bottom: 20px;
}

.img-article {
    margin-top: 10%;
}

.article-container {
    display: flex;
    width: 400px;
    height: 200px;
    margin-bottom: 70px;
    margin-right: 24px;
}

.article {
    overflow: hidden;
    text-overflow: ellipsis;
    background-size: cover;
    margin-left: 10px;
    
}

.article-title {
    font-size: 1.5vw;
    margin-bottom: -10px;
}

.article-refer {
    text-decoration: none;
    font-family: 'Tinos', serif;
    color: #070006;
}

.article-refer:hover {
    text-decoration: solid underline rgb(7, 7, 7) 2px;
    text-decoration-skip-ink: none;
}

.side-bar {
    margin-left: 1%;
    width: 23%;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
}

.side-bar-title {
    font-size: 2vw;
    color: rgb(245, 245, 245);
    text-shadow: 0 -1px rgb(0 0 0 / 10%);
    animation: light 1.2s linear infinite;
    font-weight: bold;
    text-transform: uppercase;
}


.side-bar-title {
    color: rgb(245, 245, 245);
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
    animation: light 1.2s linear infinite;
}

@keyframes light {

    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }

}

.side-bar-title-teg {
    font-size: 2vw;
    color: rgb(95, 144, 222);
    text-shadow: 0 -1px rgb(0 0 0 / 10%);
    animation: side-bar-title-teg 4.2s linear infinite;
    font-weight: bold;
    text-transform: uppercase;
}


.side-bar-title-teg {
    color: rgb(105, 198, 216);
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
    animation: side-bar-title-teg 4.2s linear infinite;
}

@keyframes side-bar-title-teg {

    50% {
        color: #469aee;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px rgb(160, 221, 225), 0 0 8px #1be0e7;
    }

}


.footer {
    display: flex;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 3%;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: aliceblue;
}

.footer-text {
    margin-left: 48%;
    margin-top: 8%;
}



.main-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #b2b2b2;
    margin-bottom: 20px;
    margin-top: 50px;
}


.greetings-text {
    font-family: 'Tinos', serif;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
}

.view-article {
    position: absolute;
    transform: translate(22px, 0px);
    
}

.img-view {
    position: absolute;
    transform: translate(-22px, 0px);
}



.main-article {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    margin: 10px;
}




.tegs {

}

.tegs  li {
    list-style: none;
    /* Убираем исходные маркеры */
    
    /* Параметры фона */
    background-size: 12%;
    background-position: left center;
    padding-top: 6px;
    padding-left: 54px;
    height: 40px;
    font-size: 2.5vh;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.cpp {
    background: url(../images/cplusplus.png) no-repeat;
}

.javascript {
    background: url(../images/javascript.png) no-repeat;
}

.php {
    background: url(../images/php.png) no-repeat;
}

.tegs  ul {
    margin-left: 0;
    margin-top: 30px;
}

.tegs a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 3vh;
}

.tegs a:hover {
    text-decoration: solid underline rgb(7, 7, 7) 2px;
    text-decoration-skip-ink: none;
}


.img-hidden {
    position: absolute;
    right: 40px;
    transform: rotate(180deg);
    margin-top: 0px;
}

.img-hidden-burg {
    position: absolute;
    right: 105px;
    transform: translateY(-34px) rotate(270deg);
   
    margin-top: 0px;
}

.font-input {
    font-weight: bold;
    font-size: 2.7vh;
}

.font-input-login {
    font-weight: bold;
    font-size: 2.0vh;
}
